body {
  overflow-x: hidden;
  padding: 0;
  margin: 0;
  background: rgb(255, 230, 118);
  background: linear-gradient(90deg, rgb(250, 240, 196) 0%, rgba(54, 71, 123, 0) 20%);
}

h1, h2, h3, h4 {
  padding: 0;
  margin: 0;
}

.wrapper {
  margin: 0 auto;
  max-width: 1200px;
  display: grid;
  grid-template-columns: 2fr 10fr;
  grid-template-rows:  200px 1fr 150px;
  grid-template-areas:  "b a a" 
                        "b c c"
                        "d d d";
}

.header__main {
  grid-area: a;
  margin: 0 auto;
  width: 100%;
}

.wrapper__main {
  margin: 20px 0;
  grid-area: c;
  background-color: #fff;
}

.main_cover {
  margin-bottom: 30px;
  border-radius: 10px 10px 0px 0px;
  min-height: 200px;
  background: url('./img/cover-7.jpg');
  background-position: 0 0;
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
  background-size: cover;
}

.sidebar {
  width: 200px;
  grid-area: b;
}

.footer__main {
  grid-area: d;
  border-top: 1px solid #f8eebf;
  display: flex;
  justify-content: space-around;
  align-items: center;
}










