body {
  padding: 0;
  margin: 0;
  background: rgb(255, 230, 118);
  background: linear-gradient(90deg, rgb(250, 240, 196) 0%, rgba(54, 71, 123, 0) 20%);
}

h1, h2, h3, h4 {
  padding: 0;
  margin: 0;
}

.wrapper {
  margin: 0 auto;
  width: 1200px;
  display: grid;
  grid-template-columns: 2fr 10fr;
  grid-template-rows:  130px 1fr 150px;
  grid-template-areas:  "b a a" 
                        "b c c"
                        "d d d";
}

.header__main {
  grid-area: a;
  margin: 0 auto;
  width: 100%;
}

.wrapper__main {
  margin: 20px 0px;
  grid-area: c;
  background-color: #fff;
}

.sidebar {
  width: 200px;
  grid-area: b;
}

.footer__main {
  grid-area: d;
  border-top: 1px solid #f8eebf;
  display: flex;
  justify-content: space-around;
  align-items: center;
}










