body {
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4 {
  padding: 0;
  margin: 0;
}

.wrapper {
  width: 1200px;
  display: grid;
  grid-template-columns: 2fr 10fr;
  grid-template-rows:  120px 1fr 120px;
  grid-template-areas:  "a a a" 
                        "b c c"
                        "d d d";
}

.header__main {
  grid-area: a;
  background-color: rgb(250, 248, 154);
}

.sidebar {
  grid-area: b;
  background-color: rgb(198, 255, 165);
}

.main__content {
  grid-area: c;
  background-color: rgb(253, 183, 78);
}

.footer__main {
  grid-area: d;
  background-color: rgb(182, 180, 180);
}

.img__logo {
  max-width: 100px;
}

.menu__item a{
  text-decoration: none;
}
