.content {
  color: blueviolet;
  font-weight: bold;
}

.cover {
  margin-bottom: 30px;
  border-radius: 10px 10px 0px 0px;
  min-height: 200px;
  background: url('./../../img/cover-7.jpg');
  background-position: 0 0;
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
  background-size: cover;
}